/*
*= require css3buttons
*/
@import "bootstrap-sprockets";
@import "bootstrap";


.container-padding-top {
  @extend .container;
  padding-top: 50px;
}

.btn-apart-action {
  width: 100px;
  margin-left: 5px;
}
